:root {
  /* Base Theme */
  --bg: #faf4ed;
  --fg: #54433a;

  --primary: #6d9481;
  --secondary: #91ac84;
  --tertiary: #4f7942;
  --comment: #7d6658;
  --ui: #a59f94;
  --card-fg: #faf4ed;
  --card-border: #f2e9e1;

  /* Fonts */
  --primary-font-family: "Zen Kaku Gothic New", sans-serif;
  --secondary-font-family: "Syne Mono", monospace;
  --tertiary-font-family: "Roboto Mono", monospace;
}
:root.dark {
  /* Dark Theme */
  --bg: #292522;
  --fg: #ece1d7;

  --primary: #dcafc5;
  --secondary: #f4d1e2;
  --tertiary: #f6c1c3;
  --comment: #c1a78e;
  --card-fg: #54433a;
  --card-border: #ece1d7;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg);
  color: var(--fg);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-header {
  margin: 3em auto 0em auto;
  nav {
    display: flex;
    flex: initial;
    justify-content: space-between;
    align-items: center;
    min-width: 51vw;
  }
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
  border-width: 0;
}

.nav-toggles,
.nav-pages {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggles li {
  z-index: 2;
}

.nav-pages li:first-child {
  margin-left: 5em;
}
.nav-toggles li:last-child {
  margin-right: 5em;
}

.nav-toggles button {
  background: none;
  border: none;
}

.nav-toggles button img {
  width: 4em;
  height: 4em;
}

.nav-pages {
  gap: 3em;
}

.nav-pages li {
  z-index: 2;
}

.nav-pages a {
  font-family: var(--secondary-font-family);
  font-size: 1.5em;
  text-decoration: none;
  color: var(--fg);
  font-weight: bold;
}

.nav-pages a:hover {
  color: var(--primary);
}

main {
  margin: auto;
}

main > section {
  max-width: 70em;
  margin-top: 5em;
}

main > section > header {
  margin: 0em 0 3em 5em;
}

main > section > header > h1 {
  margin: 0;
}

main > section > header > h3 {
  font-style: italic;
  font-weight: 400;
  color: var(--comment);
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.card-group a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(var(--primary), var(--secondary));
  padding: 2em;
  border-radius: 2em;
  transition: 0.25s ease-in-out;
}

.card:hover {
  transform: translateY(-1em);
}

.card-image-container {
  height: 13em;
  width: 13em;
}

.card img {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: var(--card-border); 
  border-radius: 0.5em;
  background-color: var(--card-fg); 
  object-fit: fill;
}

.card header {
  color: var(--card-fg); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0em 0;
}

.card header h2,
.card header h3,
.card header h4 {
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.card header h2 {
  font-weight: 700;
}

.card header h3 {
  font-weight: 500;
}

.card header h4 {
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3em;
}

.footer-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer-buttons li {
  z-index: 2;
}

.footer-buttons img {
  width: 3em;
  height: 3em;
}

.footer-buttons img:hover {
  transform: scale(1.2);
}
