:root {
  /* Base Theme */
  --bg: #fffcf5;
  --fg: #54433a;

  --primary: #6d9481;
  --secondary: #91ac84;
  --tertiary: #8aa38b;
  --comment: #7d6658;
  --ui: #a59f94;
  --card-fg: #fffcf5;
  --card-border: #faf4ed;

  /* Fonts */
  --primary-font-family: "Zen Kaku Gothic New", sans-serif;
  --secondary-font-family: "Syne Mono", monospace;
  --tertiary-font-family: "Roboto Mono", monospace;
}
:root.dark {
  /* Dark Theme */
  --bg: #292522;
  --fg: #ece1d7;

  --primary: #dcafc5;
  --secondary: #f6c1c3;
  --tertiary: #f4d1e2;
  --comment: #c1a78e;
  --card-fg: #54433a;
  --card-border: #ece1d7;
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
  border-width: 0;
}

html,
body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg);
  color: var(--fg);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-header {
  margin: 3em auto 0em auto;
}

.main-header nav {
  display: flex;
  flex: initial;
  justify-content: space-between;
  align-items: center;
  min-width: 51vw;
}

@media only screen and (max-width: 600px) {
  .main-header {
    margin: 3em auto auto auto;
  }

  .main-header nav {
    min-width: 71vw;
  }
}

#theme-btn {
  z-index: 2;
  background: none;
  border: none;
  margin-right: 3em;
}

#theme-icon {
  font-size: xx-large;
  color: #54433a;
}

.main-header nav button i:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  #theme-btn {
    margin-right: 1em;
  }
}

.nav-container {
  margin-left: 3em;
}

#nav-links {
  display: flex;
  flex-direction: row;
  gap: 3em;
  list-style: none;
  padding: 0;
}

#nav-links li {
  z-index: 2;
}

#nav-links a {
  font-family: var(--secondary-font-family);
  font-size: x-large;
  font-weight: bold;
  color: var(--fg);
  text-decoration: none;
}

#nav-links a:hover {
  color: var(--primary);
}

#menu-icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1em;
    margin-left: 1em;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5em;
  }

  #nav-links a {
    font-size: large;
  }

  #menu-icon {
    display: block;
    position: relative;
    z-index: 2;
    font-size: xx-large;
    color: #54433a;
  }

  .nav-container img:hover {
    transform: scale(1.1);
  }
}

main {
  margin: auto;
}

main > section {
  max-width: 51vw;
}

main > section > header {
  flex-direction: column;
  margin: 3em auto 3em auto;
  max-width: 51vw;
}

main > section > header > h1 {
  font-family: var(--secondary-font-family);
}

main > section > header > h3 {
  font-style: italic;
  font-weight: 400;
  color: var(--comment);
}

@media only screen and (max-width: 600px) {
  main > section > header {
    margin: 3em auto 3em auto;
  }

  main > section > header > h1 {
    font-size: x-large;
    text-align: center;
  }

  main > section > header > h3 {
    font-size: medium;
    text-align: center;
  }
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.card-group a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(var(--primary), var(--secondary));
  padding: 2em;
  border-radius: 2em;
  transition: 0.25s ease-in-out;
}

.card:hover {
  transform: translateY(-1em);
}

.card-image-container {
  height: 13em;
  width: 13em;
}

.card img {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: var(--card-border);
  border-radius: 0.5em;
  background-color: var(--card-fg);
  object-fit: fill;
}

.card header {
  color: var(--card-fg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto auto auto;
}

.card header h2,
.card header h3,
.card header h4 {
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.card header h2 {
  font-weight: 700;
}

.card header h3 {
  font-weight: 500;
}

.card header h4 {
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .card-group {
    gap: 3em;
  }

  .card {
    padding: 1em;
  }

  .card-img-container {
    width: 5em;
    height: 5em;
  }
  .card header h2 {
    font-size: large;
  }
  .card header h3 {
    font-size: medium;
  }
  .card header h4 {
    font-size: small;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3em;
}

.footer-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer-buttons li {
  z-index: 2;
}

.footer-buttons img {
  width: 3em;
  height: 3em;
}

.footer-buttons img:hover {
  transform: scale(1.2);
}
