* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #54433a;
  background-color: #fffcf5;
  height: 100%;
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0); /* hides bg color */
  clip-path: inset(50%);
  overflow: hidden; /* content can't be seen outside element */
  position: absolute;
  white-space: nowrap; /* suppress line breaks for sr */
  width: 1px;
  height: 1px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  align-items: center;
  margin: 1em auto 0em auto;
}

.nav-toggles,
.nav-pages {
  z-index: 2;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggles button {
  background: none;
  border: none;
}

.nav-toggles button img {
  width: 3em;
  height: 3em;
}

.nav-pages {
  gap: 3em;
}

.nav-pages a {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  color: #54433a;
}

.nav-pages a:hover {
  color: #6d9481;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.footer-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  list-style: none;
  padding: 0;
}

.footer-buttons img {
  width: 3em;
  height: 3em;
}

.footer-buttons img:hover {
  width: 5em;
  height: 5em;
}
