:root {
  /* Light Theme */
  --light-bg-color: #fffcf5;
  --light-fg-color: #54433a;
  --light-primary-color: #6d9481;
  --light-primary-color-darker: #628473;
  --light-secondary-color: #91ac84;
  --light-third-color: #d0e2c7;

  /* Dark Theme */
  --dark-bg-color: #292522;
  --dark-fg-color: #ece1d7;
  --dark-primary-color: #dcafc5;
  --dark-secondary-color: #f4d1e2;

  /* Fonts */
  --primary-font-family: "Zen Kaku Gothic New", sans-serif;
  --secondary-font-family: "Syne Mono", monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  background-color: var(--light-bg-color);
  color: var(--light-fg-color);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-header {
  margin: 3em auto 0em auto;
  nav {
    display: flex;
    flex: initial;
    justify-content: space-between;
    align-items: center;
    min-width: 50vw;
  }
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
  border-width: 0;
}

.nav-toggles,
.nav-pages {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggles li {
  z-index: 2;
}

.nav-pages li:first-child {
  margin-left: 5em;
}
.nav-toggles li:last-child {
  margin-right: 5em;
}

.nav-toggles button {
  background: none;
  border: none;
}

.nav-toggles button img {
  width: 4em;
  height: 4em;
}

.nav-pages {
  gap: 3em;
}

.nav-pages li {
  z-index: 2;
}

.nav-pages a {
  font-family: var(--secondary-font-family);
  font-size: 1.5em;
  text-decoration: none;
  color: var(--light-fg-color);
  font-weight: bold;
}

.nav-pages a:hover {
  color: var(--light-primary-color);
}

main {
  margin: auto;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.projects {
  max-width: 50vw;
}

.projects header {
  margin: 7em 0 5em 0;
}

.projects header h1 {
  /* font-family: var(--secondary-font-family); */
  margin: 0;
}

.projects-header h3 {
  font-style: italic;
  font-weight: 400;
  color: #7d6658;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    var(--light-primary-color),
    var(--light-secondary-color)
  );
  padding: 2em;
  border-radius: 2em;
  transition: 0.25s ease-in-out;
}

.card:hover {
  transform: translateY(-1em);
}

.card img {
  max-height: 13em;
  max-width: 13em;
  border-style: solid;
  border-color: var(--light-bg-color);
  border-radius: 0.5em;
}

.card header {
  color: var(--light-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0em 0;
}

.card header h2,
.card header h3,
.card header h4 {
  margin: 0;
}

.card header h2 {
  font-weight: 700;
}

.card header h3 {
  font-weight: 500;
}

.card header h4 {
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3em;
}

.footer-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer-buttons li {
  z-index: 2;
}

.footer-buttons img {
  width: 3em;
  height: 3em;
}

.footer-buttons img:hover {
  transform: scale(1.2);
}
