* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #54433a;
  background-color: #fffcf5;
  height: 100%;
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0); /* hides bg color */
  clip-path: inset(50%);
  overflow: hidden; /* content can't be seen outside element */
  position: absolute;
  white-space: nowrap; /* suppress line breaks for sr */
  width: 1px;
  height: 1px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  align-items: center;
  margin: 1em auto 0em auto;
}

.nav-toggles,
.nav-pages {
  z-index: 2;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggles button {
  background: none;
  border: none;
}

.nav-toggles button img {
  width: 3em;
  height: 3em;
}

.nav-pages {
  gap: 3em;
}

.nav-pages a {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  color: #54433a;
}

.nav-pages a:hover {
  color: #6d9481;
}

.home-banner {
  margin: 10em auto 0 auto;
  text-align: center;
}

.home-banner h1 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-size: 5em;
  color: #6d9481;
  margin: 0;
}

@keyframes Blink-Caret {
  from {
    border-right-color: #54433a;
  }
  to {
    border-right-color: transparent;
  }
}

.home-banner h2 {
  font-size: 3em;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}

.home-banner span {
  border-right: 0.1em solid;
  animation: Blink-Caret 500ms steps(40) infinite normal;
}

.home-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  margin-top: 5em;
}

.home-buttons a {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  color: #6d9481;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border: 2px solid #6d9481;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.5s ease 0s;
}

.home-buttons a:hover {
  color: #ece1d7;
}

.home-buttons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #6d9481;
  transition: all 0.5s ease 0s;
}

.home-buttons a:hover::before {
  width: 100%;
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
  pointer-events: all;
}

.timeline {
  margin-top: 13em;
}

.timeline h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: #6d9481;
  text-align: center;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}

.footer-buttons {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
}

.footer-buttons img {
  width: 3em;
  height: 3em;
}

.footer-buttons img:hover {
  width: 5em;
  height: 5em;
}
