* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: #54433a;
  height: 100%;
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0); /* hides bg color */
  clip-path: inset(50%);
  overflow: hidden; /* content can't be seen outside element */
  position: absolute;
  white-space: nowrap; /* suppress line breaks for sr */
  width: 1px;
  height: 1px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
  margin: 1em auto 0em auto;
}

.nav-toggles,
.nav-pages {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggles button {
  background: none;
  border: none;
}

.nav-toggles button img {
  width: 3.2em;
  height: 3.2em;
}

.nav-pages {
  gap: 2em;
}

.nav-pages a {
  font-size: 1.2em;
}

.home-banner {
  margin: 3em auto 0em auto;
  width: 50vw;
}

.home-banner h1, h2 {
  width: 30vw;
  margin: 0;
}

.home-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 0 30px;
  width: 40vw;
  margin-top: 1em;
}

.home-buttons a {
  color: #6d9481;
  border: 2px solid #6d9481;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: auto;
  text-align: center;
}
