:root {
  /* Base Theme */
  --bg: #fffcf5;
  --fg: #54433a;

  --primary: #6d9481;
  --secondary: #91ac84;
  --tertiary: #8aa38b;
  --comment: #7d6658;
  --ui: #a59f94;
  --card-fg: #fffcf5;
  --card-border: #faf4ed;

  /* Fonts */
  --primary-font-family: "Zen Kaku Gothic New", sans-serif;
  --secondary-font-family: "Syne Mono", monospace;
  --tertiary-font-family: "Roboto Mono", monospace;
}
:root.dark {
  /* Dark Theme */
  --bg: #292522;
  --fg: #ece1d7;

  --primary: #dcafc5;
  --secondary: #f6c1c3;
  --tertiary: #f4d1e2;
  --comment: #c1a78e;
  --card-fg: #54433a;
  --card-border: #ece1d7;
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg);
  color: var(--fg);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-header {
  margin: 3em auto auto auto;
}

.main-header nav {
  display: flex;
  flex: initial;
  justify-content: space-between;
  align-items: center;
  min-width: 51vw;
}

@media only screen and (max-width: 600px) {
  .main-header {
    margin: 3em auto auto auto;
  }

  .main-header nav {
    min-width: 71vw;
  }
}

#theme-btn {
  z-index: 2;
  background: none;
  border: none;
  margin-right: 3em;
}

#theme-icon {
  font-size: xx-large;
  color: #54433a;
}

.main-header nav button i:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  #theme-btn {
    margin-right: 1em;
  }
}

.nav-container {
  margin-left: 3em;
}

#nav-links {
  display: flex;
  flex-direction: row;
  gap: 3em;
  list-style: none;
  padding: 0;
}

#nav-links li {
  z-index: 2;
}

#nav-links a {
  font-family: var(--secondary-font-family);
  font-size: x-large;
  font-weight: bold;
  color: var(--fg);
  text-decoration: none;
}

#nav-links a:hover {
  color: var(--primary);
}

#menu-icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1em;
    margin-left: 1em;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5em;
  }

  #nav-links a {
    font-size: large;
  }

  #menu-icon {
    display: block;
    position: relative;
    z-index: 2;
    font-size: xx-large;
    color: #54433a;
  }

  .nav-container img:hover {
    transform: scale(1.1);
  }
}

.hero-banner {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header {
  text-align: center;
}

.hero-header h1 {
  position: relative;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: bold;
  font-size: 5em;
  color: var(--primary);
  z-index: 0;
  margin: 0;
  white-space: nowrap;
}

.hero-header h2 {
  font-weight: normal;
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  margin: 0 auto;
}

@keyframes Blink-Caret {
  from {
    border-right-color: var(--fg);
  }
  to {
    border-right-color: transparent;
  }
}

.hero-header span {
  border-right: 0.1em solid;
  animation: Blink-Caret 500ms steps(40) infinite normal;
}

@media only screen and (max-width: 600px) {
  .hero-header h1 {
    font-size: xxx-large;
  }
  .hero-header h2 {
    font-size: xx-large;
  }
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 2em;
  margin-top: 5em;
}

.hero-buttons a {
  z-index: 2;
  font-family: var(--secondary-font-family);
  font-size: x-large;
  text-decoration: none;
  color: var(--primary);
  position: relative; /* keep sliding animation contained */
  overflow: hidden;
  border: 0.1em solid var(--primary);
  border-radius: 0.4em;
  padding: 0.2em 0.4em;
  transition: all 0.5s ease 0s;
}

.hero-buttons a:hover {
  color: var(--bg);
}

.hero-buttons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: var(--primary);
  transition: all 0.5s ease 0s;
}

.hero-buttons a:hover::before {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .hero-buttons {
    gap: 1em 1em;
    margin-top: 2em;
  }

  .hero-buttons a {
    font-size: large;
    font-weight: bold;
    color: var(--bg);
    background-color: var(--primary);
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
  }
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  pointer-events: all;
}

@media only screen and (max-width: 600px) {
  #particles-js canvas {
    filter: none !important;
  }
}

.footer {
  display: flex;
  flex: initial;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3em;
  font-size: medium;
}

.footer-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer-buttons li {
  z-index: 2;
}

.footer-buttons img {
  width: 3em;
  height: 3em;
}

.footer-buttons img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .footer {
    margin-bottom: 5em;
  }
  .footer img {
    width: 2.5em;
    height: 2.5em;
  }
}
